
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(23, 21, 21);
  font-family: 'Fuzzy Bubbles', cursive;
  color: white;
}

ul {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.logo {
  font-size: x-large;
  color: yellowgreen;
  padding-right: 60%;
}

.ul1 {
  margin-top: 10px;
}

ul li {
  list-style: none;
}

h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 2.5rem;
}
.hover:hover {
  color: rgb(13, 147, 208);
}

.container {
  background-image: url(./assets/MV5BNzM1ODI4Y2UtMGYxMS00OTUxLWE4NzItNjgxMTM2NzRjZThkXkEyXkFqcGdeQXVyMTA1OTcyNDQ4._V1_.jpg);

  /* background-color: rgb(250, 240, 240); */
  background-blend-mode: overlay;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  gap: 20px;
}

.mini {
  margin-top: 15%;
  padding-left: 5%;
  margin-right: 30%;
}

h1 {
  padding-top: 20%;
  font-size: 3rem;
  color: #fff;
  margin-top: 0;
  font-weight: 800;
}

h3 {
  margin-top: 5%;
  color: rgb(233, 228, 235);
  padding-right: 20%;
  font-size: 1.5rem;
}

button {
  background-color: rgb(34, 150, 158);
  margin-left: 20%;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-top: 3%;
  padding: 5px 5px 5px 5px;
  border-radius: 10%;
}

button:active:hover {
  transform: scale(0.98);
  background-color: pink;
  color: rgb(7, 175, 212);
}

footer {
  background-color: rgb(23, 21, 21);
}

.main-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(22, 21, 21);
}

.page-numbers {
    font-size: 2rem;
}

.show-controls {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 10%;
}

.previous {
    position: absolute;
    right: 52%;

}

.next {
    position: absolute;
    left: 31%;

}

.page-numbers {
    position: absolute;
    left: 49%;
    margin-top: 3%;
}
.episode {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  /* gap: 1%; */
  text-align: center;
}


.none {
  list-style: none;
}

.card {
  margin-top: 5%;
  width: 25%;
  background-color: rgba(51, 70, 61, 0.574);
  padding-bottom: 10%;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.card:hover {
  border: 4px solid rgb(7, 96, 80);
}

.card-title {
  color: rgb(22, 142, 142);
  font-size: 2rem;
  padding-top: 5%;

  /* padding-bottom: 5%; */
}

.card-img-top {
  margin-top: 5%;
  width: 100%;
  height: 50%;
}

.card-text {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  margin-bottom: 10%;
}

.btn-comment {
  margin-right: 55px;
  margin-top: 5%;
}

.btn-like {
  margin-right: 50px;
}
